extends ../base.pug

block variables
	- var template = 'detail'

block content
	.detail
		.detail__wrapper
			figure.detail__media
				img.detail__media__image(alt=product.data.image.alt data-src=product.data.image.url)

			.detail__information
				p.detail__information__collection=` ${product.data.collection.data.title}`
				h1.detail__information__title=product.data.title

				.detail__information__content
					.detail__information__highlights
						each highlight in product.data.highlights
							p.detail__information__hightlight
								svg.detail__information__hightlight__icon
									if highlight.highlights_icon.toLowerCase() == 'arrow'
										svg.detail__information__highlight__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40")
											path(fill="none" stroke="currentColor" d="M14.3,24.5l10.9-10.9")
											path(fill="none" stroke="currentColor" d="M19.3,0.5C29.6,0.5,38,8.9,38,19.3S29.6,38,19.3,38S0.5,29.6,0.5,19.3S8.9,0.5,19.3,0.5z" )
											path(fill="currentColor" d="M29.6,9.2L29,11.5l0,2.5l-1.9-2.2l-2.2-1.9l2.5,0L29.6,9.2z" )
											path(fill="currentColor" d="M9.9,28.9l0.6-2.3l0-2.5l1.9,2.2l2.2,1.9l-2.5,0L9.9,28.9z" )
									else
										svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40")
											path( fill="none" stroke="currentColor" d="M19.3,0.5C29.6,0.5,38,8.9,38,19.3S29.6,38,19.3,38S0.5,29.6,0.5,19.3S8.9,0.5,19.3,0.5z")
											path( fill="currentColor" stroke="none" d="M23.3,9.5l-2.6,8.3l8.4-2.5l-7.8,4l7.8,4.1l-8.4-2.7l2.7,8.6l-4.1-8l-4,7.8l2.5-8.4l-8.3,2.6l7.8-4l-8-4.2 l8.4,2.7l-2.7-8.4l4.2,8L23.3,9.5z")




								span.detail__information__hightlight__text!=highlight.highlights_text.replace(/\n/, '<br>')

					.detail__information__list
						each item in product.data.informations
							p.detail__information__item
								strong.detail__information__item__title=` ${item.informations_label}`
								span.detail__information__item__description=item.informations_description

					a.detail__information__link(href=product.data.link_url.url target="_blank")=product.data['link-text']

		button.detail__button Close
			svg.detail__button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.8 59.9" )
				path(stroke="currentColor" fill="none" d="M61.9,0.5c33.9,0,61.4,13.2,61.4,29.5S95.8,59.4,61.9,59.4S0.5,46.2,0.5,30S28,0.5,61.9,0.5z")
